<div
    (dragenter)="onDragEntered($event)"
    *ngIf="!dropZoneEntered"
    style="position: relative; overflow-y: scroll; height: 700px;"
>
    <div *ngIf="flights$ | async as flights">
        <flight-list
            id="internal"
            title="Internal Flights"
            [flights]="flights"
            type="internal"
        ></flight-list>

        <flight-list
            id="external"
            title="External Flights"
            [flights]="flights"
            type="external"
        ></flight-list>
    </div>
</div>
<div *ngIf="dropZoneEntered" (dragleave)="onDragLeave($event)">
    <upload-files></upload-files>
</div>
