.my-alert {
    width: 100%;
    height: 100px;
    background-color: aliceblue;
    border-radius: 7px;
    padding: 10px 20px;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.my-alert .alert-title {
    font-size: 22px;
    font-weight: bold;
}

.my-alert .alert-desc {
    font-size: 18px;
}
