<h3>{{ title }}</h3>
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Airline</th>
    </tr>
    <tbody>
        <tr
            class="pointer"
            *ngFor="let flight of flights | flights: { type: type }"
            (click)="clickFlight(flight)"
            [ngClass]="{
                'selected-flight':
                    flight.flight_id === flightService.selectedFlight?.flight_id
            }"
        >
            <td>{{ flight.flight_id }}</td>
            <td>{{ flight.company_name }}</td>
            <td>
                <flight-item
                    *ngIf="!flight.is_external"
                    [flight]="flight"
                    (deleteFlight)="deleteFlight($event)"
                >
                </flight-item>
            </td>
        </tr>
    </tbody>
</table>
