<!-- <h3>{{ title }}</h3>
<flight-item
    *ngFor="let flight of flights | flights: { type: type }"
    [flight]="flight"
    (deleteFlight)="deleteFlight($event)"
>
    >
</flight-item> -->

<h3>{{ title }}</h3>
<table class="table">
    <tr>
        <th class="text-center">#</th>
        <th>Airline</th>
        <!-- <th class="text-right">Action</th> -->
    </tr>
    <tbody>
        <tr *ngFor="let flight of flights | flights: { type: type }">
            <td>{{ flight.flight_id }}</td>
            <td>{{ flight.company_name }}</td>
            <td>
                <flight-item
                    [flight]="flight"
                    (deleteFlight)="deleteFlight($event)"
                >
                </flight-item>
            </td>
        </tr>
    </tbody>
</table>
