<div>
    <div>
        <navbar></navbar>
    </div>
    <div id="flight-container" class="container">
        <div id="col1">
            <div id="flight-map">
                <div class="card"><map id="myMap"></map></div>
            </div>
            <div id="flight-details">
                <div class="card"><flight-details></flight-details></div>
            </div>
        </div>
        <div id="flight-list">
            <div class="card">
                <flight-list-container></flight-list-container>
            </div>
        </div>
    </div>
</div>
