<agm-map
    class="map"
    [latitude]="latitude"
    [longitude]="longitude"
    [mapTypeId]="mapType"
    [zoom]="2"
    (mapClick)="mapClick($event)"
>
    >
    <agm-marker
        class="marker"
        *ngFor="let marker of markers"
        [latitude]="marker.lat"
        [longitude]="marker.lng"
        [opacity]="marker.alpha"
        [iconUrl]="curicon"
        [markerDraggable]="true"
        (markerClick)="selectMarker($event)"
    ></agm-marker>
    <agm-polyline *ngIf="flightService.selectedFlight" [strokeColor]="'red'">
        <agm-polyline-point
            [latitude]="flightService.selectedPlan.initial_location.latitude"
            [longitude]="flightService.selectedPlan.initial_location.longitude"
        >
        </agm-polyline-point>
        <agm-polyline-point
            *ngFor="let segment of flightService.selectedPlan.segments"
            [latitude]="segment.latitude"
            [longitude]="segment.longitude"
        >
        </agm-polyline-point>
    </agm-polyline>
</agm-map>
